<nav class="navbar navbar-expand-md navbar-light bg-light">
	<a class="navbar-brand" href="{% url 'post_list' %}">The Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
				<a class="nav-link" href="{% url 'post_list' %}">Home <span class="sr-only">(current)</span></a>
      </li>
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'post_create' %}">Add Post</a>
      </li>
			{% endif %}
				
			{% if not user.is_authenticated %}
      <li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
			{% else %}
			<li class="nav-link">(Hi, {{ user }})</li>
      <li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
			{% endif %}

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
